body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u135 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
.u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
.u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
.u138 {
  position:absolute;
  left:20px;
  top:10px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
.u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:24px;
}
.u139 {
  position:absolute;
  left:177px;
  top:11px;
  width:710px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:24px;
}
.u140 {
  position:absolute;
  left:10px;
  top:1px;
  width:690px;
  word-wrap:break-word;
}
.u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#CCCCCC;
  line-height:20px;
}
.u141 {
  position:absolute;
  left:14px;
  top:0px;
  width:191px;
  height:70px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#CCCCCC;
  line-height:20px;
}
.u142 {
  position:absolute;
  left:0px;
  top:25px;
  width:191px;
  word-wrap:break-word;
}
.u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:20px;
}
.u143 {
  position:absolute;
  left:849px;
  top:11px;
  width:158px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:20px;
}
.u144 {
  position:absolute;
  left:10px;
  top:1px;
  width:138px;
  word-wrap:break-word;
}
#u136-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:70px;
}
#u136-2 {
  position:absolute;
  left:0px;
  top:70px;
  width:1024px;
  height:70px;
}
#u136-3 {
  position:absolute;
  left:0px;
  top:140px;
  width:1024px;
  height:70px;
}
#u136-4 {
  position:absolute;
  left:0px;
  top:210px;
  width:1024px;
  height:70px;
}
#u136-5 {
  position:absolute;
  left:0px;
  top:280px;
  width:1024px;
  height:70px;
}
#u136-6 {
  position:absolute;
  left:0px;
  top:350px;
  width:1024px;
  height:70px;
}
#u136-7 {
  position:absolute;
  left:0px;
  top:420px;
  width:1024px;
  height:70px;
}
#u136-8 {
  position:absolute;
  left:0px;
  top:490px;
  width:1024px;
  height:70px;
}
#u136-9 {
  position:absolute;
  left:0px;
  top:560px;
  width:1024px;
  height:70px;
}
#u136-10 {
  position:absolute;
  left:0px;
  top:630px;
  width:1024px;
  height:70px;
}
#u136 {
  position:absolute;
  left:0px;
  top:34px;
  width:1024px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
