body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:310px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:503px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u529 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:503px;
}
#u530 {
  position:absolute;
  left:2px;
  top:244px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:35px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339966;
}
#u531 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:35px;
  color:#339966;
}
#u532 {
  position:absolute;
  left:2px;
  top:10px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u533 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u534 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u535 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u535_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u535.mouseDown {
}
#u536 {
  position:absolute;
  left:20px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u537 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#0099FF;
  line-height:24px;
}
#u538 {
  position:absolute;
  left:0px;
  top:35px;
  width:309px;
  height:206px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#0099FF;
  line-height:24px;
}
#u539 {
  position:absolute;
  left:20px;
  top:80px;
  width:269px;
  word-wrap:break-word;
}
#u540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u540 {
  position:absolute;
  left:16px;
  top:145px;
  width:276px;
  height:84px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u541 {
  position:absolute;
  left:2px;
  top:13px;
  width:272px;
  word-wrap:break-word;
}
#u542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:37px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u542 {
  position:absolute;
  left:16px;
  top:257px;
  width:276px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u542_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:37px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u542.mouseDown {
  opacity:0.8;
}
#u543 {
  position:absolute;
  left:0px;
  top:8px;
  width:276px;
  word-wrap:break-word;
}
#u544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(93, 171, 158, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#5DAB9E;
  line-height:20px;
}
#u544 {
  position:absolute;
  left:16px;
  top:303px;
  width:276px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#5DAB9E;
  line-height:20px;
}
#u544_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(93, 171, 158, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#5DAB9E;
  line-height:20px;
}
#u544.mouseDown {
}
#u545 {
  position:absolute;
  left:0px;
  top:8px;
  width:276px;
  word-wrap:break-word;
}
